html,
body {
  overflow-x: hidden;
  background: #fafafa;
  width: 100%;

}

.jumbotron-blue{
  /* color: #FFFFFF; */
  background-color:#1A64F2 !important;
  }

  .btn-outline-custom{

    color: #fafafa;
    border-color: #fafafa;
  }
