<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ static('css/style.css') }}">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <img src="{{ static('img/logo.svg') }}" alt="" srcset="">

    </h5>
    <nav class="my-2 my-md-0 mr-md-3">

      <a class="p-2 text-dark" href="{{ url('signup') }}"><img src="{{ static('img/buttons/add-to-cart.svg') }}" alt="" srcset=""></a>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-lg-12 no-gutters">
        <img src="{{ static('img/banner-group.svg') }}" alt="" srcset="" width="100%" height="80%">

      </div>

    </div>
  </div>

  <div id="content-area" class="container">
    <div class="row">
      <div class="col-12 d-flex ml-5">
        <div class="col-md-6">
          <img src="{{ static('img/group-117.svg') }}" alt="" srcset="">
        </div>
        <div class="col-md-6">
          <img src="{{ static('img/group-116.svg') }}" alt="" srcset="">
        </div>


      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8 mx-auto">
        <img src="{{ static('img/testimonial1.svg') }}" alt="" srcset="">

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-8 mx-auto justify-content-center ">
        <p class="text-center font-weight-bold">@ Ivy Cosmetics</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-8 mx-auto justify-content-center ">
        <a href="{{ url('signup') }}">
          <img src="{{ static('img/get-started-btn.svg') }}" alt="" srcset="">
        </a>
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-9 mx-auto justify-content-center ">
        <a href="{{ url('signup') }}">
          <img src="{{ static('img/home-others.svg') }}" alt="" srcset="">
        </a>
      </div>
    </div>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>


</html>