{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumbb %}
<li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4 bg-dark">
    <li class="breadcrumb-item active text-white">Change password</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post" novalidate>
            {{ csrf_input }}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Change password</button>
        </form>
    </div>
</div>
{% endblock %}