<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ static('css/style.css')}}">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <img src="{{ static('img/logo.svg')}}" alt="" srcset="">

    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark active" href="{{ url('remote') }}">Remote Jobs</a>
      <a class="p-2 text-dark" href="{{ url('levelup') }}">Level Up</a>
      <a class="p-2 text-dark" href="{{ url('resource') }}">Resources</a>
    </nav>
    <a class="btn btn-outline-primary" href="{{ url('logout') }}">LogOut</a>
  </div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <h4 class="font-weight-bold">Remote Resources</h4>
        </div>
        

        {% include 'includes/form.html' %}
        {% if resources.count() > 0 %}
        {% for resource in resources %}
        <div id="job-listings">
          <div class="row job mt-3">
            <h3 class="font-weigth-bold">{{ resource.title }}</h3>

          </div>
          <div class="row">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="21" fill="#EEEEEE" />
            </svg>

            <div class="col-md-8 ml-3 h6 pt-2" id="company-name">{{resource.company}}</div>
            <div class="col-md-3 h6 pt-2" id="company-name">
              <p>{{ naturaltime(resource.created_at) }}</p>
            </div>


          </div>

          <div class="row jumbotron">
          <img src="{{ resource.image.url }}" style="max-width: 100%; max-height: 100%; display: block;">
          </div>
          <div class="row" id="description">

            <p class="">{{ resource.description }}</p>


          </div>
          <p><a href="{{ resource.url }}">{{ resource.url }}</a></p>
        </div>
        {% endfor %}
        {% else %}
        {% if request.path.split('/')[-1]|int != 0 %}
        <h4 class="font-weight-bold">Sorry there is no resource information for this category</h4>
        {% else %}
        <h4 class="font-weight-bold">Sorry there is no resource information Available</h4>
         {% endif %}
        {% endif %}
              {% if is_paginated %}
<div class="container">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous() %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.previous_page_number() }}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of
                        {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next() %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number() }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <script>
    
    {% if request.path.split('/')[-1]|int != 0 %}
    document.getElementById("id_category").value = "{{ request.path.split('/')[-1]|int }}"
    {% endif %}

    function getresources() {
    var categoryName = document.getElementById("id_category").value;
    console.log(categoryName)
    if (!isNaN(categoryName) && categoryName.trim().length > 0 ){
    var url = "http://localhost:8000/resource/" + categoryName;
    console.log(url)
    window.location.href = url
    }
}  
  </script>
</body>

</html>